In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('data/pan12-ID-test.csv')
#df = pd.read_csv('data/pan12-test.csv')

In [17]:
df.head()

,id,line,author,time,text,class
0,affc2df0951b733d14ba92d19d9b7695,1,0a39f78bcb297ab0ebe8a29c28bfed89,03:24:00 PM,bugmail: [Bug 6978] New: Mark eof-terminated s...,0
1,affc2df0951b733d14ba92d19d9b7695,2,60659cfda992013e610f285c46692d28,03:32:00 PM,"Henri, can I ask you a Firefox build question ...",0
2,affc2df0951b733d14ba92d19d9b7695,3,b8810fee2f4a71f849f3f7409546d1d9,03:34:00 PM,"60659cfda992013e610f285c46692d28: sure, but I ...",0
3,affc2df0951b733d14ba92d19d9b7695,4,60659cfda992013e610f285c46692d28,03:35:00 PM,"It appears the build runs through, it creates ...",0
4,affc2df0951b733d14ba92d19d9b7695,5,60659cfda992013e610f285c46692d28,03:35:00 PM,"when I start it, I get my standard install of ...",0

In [18]:
df1 = pd.read_csv('data/acronyms.csv')

In [19]:
df1.head()

  words
0     8
1     9
2    99
3   142
4   143

In [20]:
df2 = df.loc[df['class'] == 1]

In [21]:
df2.head()

,id,line,author,time,text,class
51,de15188e9fd515ed817a0b34546be902,2,4a9332d7466b98d11c23e4447b26460a,07:28:00 PM,ok babe,1
52,de15188e9fd515ed817a0b34546be902,3,4a9332d7466b98d11c23e4447b26460a,07:28:00 PM,what happend babe,1
54,de15188e9fd515ed817a0b34546be902,5,4a9332d7466b98d11c23e4447b26460a,07:29:00 PM,oh man i hate that what kinda of god?,1
56,de15188e9fd515ed817a0b34546be902,7,4a9332d7466b98d11c23e4447b26460a,07:30:00 PM,ic i have a pitbull hes a sweet heart,1
58,de15188e9fd515ed817a0b34546be902,9,4a9332d7466b98d11c23e4447b26460a,07:30:00 PM,he thinks his a small dog,1

In [22]:
df3 = pd.read_csv('data/bagofwords_predator.txt')

In [23]:
predator_words = pd.concat([df1, df3])

In [24]:
print(predator_words)

           words
0              8
1              9
2             99
3            142
4            143
...          ...
2787    fandango
2788       waltz
2789  tarantella
2790      shimmy
2791    courante

[2851 rows x 1 columns]

In [25]:
df4 = df.loc[df['class'] == 0]

In [26]:
len(df4)

1016671

In [28]:
acronyms = list(predator_words.words)
texts = list(df2.text)
classes = []

In [29]:
for text in texts:
    find = False
    for acronym in acronyms:
        if str(acronym) in str(text):
            find = True
    if find:
        classes.append(1)
    else:
        classes.append(0)

In [30]:
u,f = np.unique(classes, return_counts = True)
print(u, f)

[0 1] [12540 19364]

In [31]:
df2['class'] = classes

/tmp/ipykernel_26194/1901255883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['class'] = classes

In [32]:
df5 = pd.concat([df2, df4])

In [33]:
u, f = np.unique(df4['class'], return_counts = True)
print(u,f)
# len(df4['class'])

[0] [1016671]

In [34]:
df5.to_csv('data/test_data.csv', index=False)