In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('data/pan12-train.csv')

In [9]:
df.head()

,id,line,author,time,text,class
0,e621da5de598c9321a1d505ea95e6a2d,1,97964e7a9e8eb9cf78f2e4d7b2ff34c7,03:20:00 AM,Hola.,0
1,e621da5de598c9321a1d505ea95e6a2d,2,0158d0d6781fc4d493f243d4caa49747,03:20:00 AM,hi.,0
2,e621da5de598c9321a1d505ea95e6a2d,3,0158d0d6781fc4d493f243d4caa49747,03:20:00 AM,whats up?,0
3,e621da5de598c9321a1d505ea95e6a2d,4,97964e7a9e8eb9cf78f2e4d7b2ff34c7,03:20:00 AM,not a ton.,0
4,e621da5de598c9321a1d505ea95e6a2d,5,97964e7a9e8eb9cf78f2e4d7b2ff34c7,03:20:00 AM,you?,0

In [10]:
df1 = pd.read_csv('data/acronyms.csv')

In [11]:
df1.head()

  words
0     8
1     9
2    99
3   142
4   143

In [12]:
df2 = df.loc[df['class'] == 1]

In [13]:
df2.head()

,id,line,author,time,text,class
510,fc77b9ed8d13697e8deea79de0b4df23,1,6f35a1f69fd4ae82056e4bc6a8a84575,11:56:00 PM,hey!!,1
513,fc77b9ed8d13697e8deea79de0b4df23,4,6f35a1f69fd4ae82056e4bc6a8a84575,11:57:00 PM,a little better what are u doing?,1
517,fc77b9ed8d13697e8deea79de0b4df23,8,6f35a1f69fd4ae82056e4bc6a8a84575,11:58:00 PM,yea i thought u did i just woke and checked to...,1
519,fc77b9ed8d13697e8deea79de0b4df23,10,6f35a1f69fd4ae82056e4bc6a8a84575,11:59:00 PM,so what did u do today?,1
521,fc77b9ed8d13697e8deea79de0b4df23,12,6f35a1f69fd4ae82056e4bc6a8a84575,12:00:00 AM,sounds like fun lol,1

In [17]:
df3 = pd.read_csv('data/bagofwords_predator.txt')

In [18]:
df3.head()
df3.tail()

           words
2787    fandango
2788       waltz
2789  tarantella
2790      shimmy
2791    courante

In [19]:
predator_words = pd.concat([df1, df3])

In [20]:
print(predator_words)

           words
0              8
1              9
2             99
3            142
4            143
...          ...
2787    fandango
2788       waltz
2789  tarantella
2790      shimmy
2791    courante

[2851 rows x 1 columns]

In [27]:
df4 = df.loc[df['class'] == 0]

In [28]:
len(df4)

862629

In [29]:
acronyms = list(predator_words.words)
texts = list(df2.text)
classes = []

In [30]:
for text in texts:
    find = False
    for acronym in acronyms:
        if str(acronym) in str(text):
            find = True
    if find:
        classes.append(1)
    else:
        classes.append(0)

In [31]:
u,f = np.unique(classes, return_counts = True)
print(u, f)

[0 1] [16813 24165]

In [32]:
df2['class'] = classes

/tmp/ipykernel_26195/1901255883.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['class'] = classes

In [33]:
df5 = pd.concat([df2, df4])

In [34]:
u, f = np.unique(df5['class'], return_counts = True)
print(u,f)
# len(df4['class'])

[0 1] [879442  24165]

In [35]:
df5.to_csv('data/training_data.csv', index=False)